@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Styles for lazy loaded images */
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
